body{
    color: black;
    background-color: #5eb8de;
}
.menu{
    text-align: center;
}
.logo{
    float: left;
}
.imagenI{
    float: left;
}
.imagenD{
    float: right;
}
.encuadrado{
    border: 3px solid blue;
}
.columna{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

footer {
      text-align: center; /* Centra horizontalmente el contenido del footer */
}

.image-container img {
    margin-left: 10px; /* Añade un margen entre las imágenes si lo deseas */
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    position: relative;
    right: -500px;
    padding: 10px;
}

.left{
    position: relative;
    right: 500px;
    padding: 10px;
}

.rojo{
    color: red;
}

