body{
    color: black;
    background-color: #5eb8de;
}
.menu{
    text-align: center;
}
.logo{
    float: left;
}
.imagenI{
    float: left;
}
.imagenD{
    float: right;
}
.encuadrado{
    border: 3px solid blue;
}
footer {
      text-align: center;
}


table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    position: relative;
    right: -500px;
    padding: 10px;
}

.left{
    position: relative;
    right: 500px;
    padding: 10px;
}

.rojo{
    color: red;
}

.boton{
    text-align: center;
    border: none;
    color: wheat;
    background-color: darkblue;
    min-width: 120px;
    min-height: 30px;
}

.center{
    text-align: center;
}

.sinPunto{
    list-style-type: none;
    display: block;
    margin-left: 500px;
}

.clearFix::after{
    content: "";
    clear: both;
    display: table;
}

.test{
    color: blue;
}
