body{
    color: black;
    background-color: #5eb8de;
}
.menu{
    text-align: center;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagenI{
    float: left;
}
.imagenD{
    float: right;
}
.encuadrado{
    border: 3px solid blue;
}
.columna{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

footer {
      text-align: center; /* Centra horizontalmente el contenido del footer */
}

.image-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente las imágenes */
    align-items: center; /* Centra verticalmente las imágenes */
}

.image-container img {
    margin-left: 100px; /* Añade un margen entre las imágenes si lo deseas */
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.text-container p{
    margin-left: 60px;
}